:root {
  --color: rgb(83 109 254);
  --colorLight: rgba(83, 109, 254, 0.381);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.Arrival-container {
  width: 100%;
  padding: 60px 60px 20px 60px;
  .Header-cont {
    .Header-head {
      color: #787878;
      font-size: 25px;
      font-family: poppinsSemiBold;
      margin-top: 50px;
      span {
        color: var(--color);
      }
    }
    .Header-content {
      font-family: poppinsLight;
      opacity: 0.8;
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}

.itemBody {
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
