:root {
  --color: rgb(83 109 254);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.forgot-password-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgot-password-head {
  font-family: poppinsBold;
  font-size: 25px;
}
.forgot-password-content {
  font-family: poppinsLight;
  font-size: 13px;
}
.forgot-pass-cont {
  padding: 20px 30px;
  border-radius: 4px;
  margin-top: 20px;
  label {
    color: #4b5966;
    font-family: poppinsRegular;
    font-size: 13px;
    text-transform: capitalize;
  }
  input {
    width: 300px;
    padding: 10px;
    font-family: poppinsRegular;
    border-radius: 4px;
    margin: 10px 0;
    border: 1px solid #e3e3e3 !important;
  }
  button {
    background-color: var(--color);
    font-family: poppinsMedium;
    width: 100% !important;
    padding: 10px 0;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    transition: 350ms;
  }
  button:hover {
    transform: scale(0.95);
  }
}
