:root {
  --color: rgb(83 109 254);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.register-header-container {
  padding: 50px;
  text-align: center;
}
.register-header {
  font-family: poppinsSemiBold;
  font-size: 25px;
  color: var(--text);
  span {
    color: var(--color);
  }
}
.register-content {
  font-family: poppinsLight;
  color: var(--text);
  font-size: 15px;
}
.form-container {
  width: 900px;
  border: 1px solid #e8e8e8;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  .login-change {
    color: #4b5966;
    font-family: poppinsRegular;
    font-size: 14px;
    opacity: 0.8;
    .a {
      color: #4b5966;
    }
  }
  .input-small-container {
    height: 120px;
    width: 48%;
    label {
      font-family: poppinsRegular;
      font-size: 13px;
      margin-left: 2px;
      color: var(--text);
    }
    input {
      border: 1px solid #e8e8e8 !important;
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      margin-top: 5px;
    }
  }
  .input-small-container1 {
    height: 120px;
    width: 48%;
    label {
      font-family: poppinsRegular;
      font-size: 13px;
      margin-left: 2px;
      color: var(--text);
    }
    .input-small-pass {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e8e8e8 !important;
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      margin-top: 5px;
    }
    input {
    }
  }
  .input-lg-container {
    width: 100%;
    label {
      font-family: poppinsRegular;
      font-size: 13px;
      margin-left: 2px;
      margin-top: 30px;
      color: var(--text);
    }
    input {
      border: 1px solid #e8e8e8 !important;
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      margin-top: 5px;
    }
  }
  .register-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .register {
      background-color: var(--color);
      color: white;
      font-family: poppinsRegular;
      height: 40px;
      width: 100px;
      border: none;
      background-color: var(--color);
      border-radius: 4px;
      transition: 350ms;
    }
    .register:hover {
      transform: scale(0.9);
    }
  }
}
.error {
  color: red;
  font-size: 10px;
  margin-top: 4px;
  display: block;
  font-family: poppinsMedium;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.spinning {
  cursor: progress !important;
}
.spinner-border {
  width: 20px;
  height: 20px;
}

.password-strength {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.strength-bar {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.weak {
  width: 33%;
  background-color: rgb(252 61 44);
}
.strength-text-weak {
  color: rgb(252 61 44);
  font-family: poppinsMedium;
  font-size: 11px;
  text-transform: capitalize;
}

.Average {
  width: 66%;
  background-color: rgba(255, 219, 53, 1);
}
.strength-text-Average {
  font-family: poppinsMedium;
  font-size: 11px;
  text-transform: capitalize;
  color: rgba(255, 219, 53, 1);
}

.strong {
  width: 100%;
  background-color: rgba(0, 189, 139, 1);
  color: rgba(0, 189, 139, 1);
}
.strength-text-strong {
  font-family: poppinsMedium;
  font-size: 11px;
  text-transform: capitalize;
  color: rgba(0, 189, 139, 1) !important;
}

@media screen and (max-width: 968px) {
  .form-container {
    width: 100%;
  }
}
.input-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    .input-small-container {
      width: 100%;
      height: auto;
      input {
        border: 1px solid #e8e8e8 !important;
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        margin-top: 5px;
      }
    }
    .input-small-container1 {
      width: 100%;
      height: auto;
    }
  }
  .input-sm {
    display: block;
  }
  label {
    margin-top: 20px;
  }
}
@media screen and (max-width: 469px) {
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 528px) {
  .form-container {
    border: none;
    padding: 10px;
    .input-small-container {
      input {
        margin-top: 10px;
      }
    }
  }
}
