:root {
  --color: rgb(83 109 254);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}

@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}

.nav-sm {
  width: 100%;
  /* background-color: rgb(246, 243, 243); */
  padding: 15px 30px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.icon-sm {
  color: #4b5966;
  position: relative;
}

.counter {
  background-color: var(--color);
  border-radius: 30px;
  width: 16px;
  height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: poppinsSemiBold;
  position: absolute;
  top: 0;
  right: -7px;
}

.nav-sm-cont {
  background-color: white;
  width: 0;
  overflow: scroll;
  scrollbar-width: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  transition: all 300ms ease;
}

.nav-sm-cont.open {
  width: 300px;
  padding: 0 !important;
}

.nav-head-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 20px;
}
.nav-black {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: background-color 0.3s ease;
}

body.no-scroll {
  overflow: hidden;
}

button[aria-label="Close Menu"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background: none;
  border: none;
  color: #17181c;
  font-size: 18px;
  font-family: poppinsSemiBold;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-list {
  margin-top: 10px;
  list-style: none;
  padding: 0 10px !important;
}

.menu-list .li {
  height: 50px;
  width: 100%;
  text-decoration: none;
  font-family: poppinsSemiBold;
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  color: #4b5966;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    opacity: 0.4;
  }
}
.menu-top {
  margin: 0 !important;
  padding: 10px 10px !important;
  width: 100% !important;
  div {
    font-family: poppinsSemiBold;
    text-transform: capitalize;
    font-size: 20px;
  }
}
li .Link {
  text-decoration: none;
  color: #787878;
  background-color: transparent;
  border: none;
  transition: 250ms;
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 20px;
  }
}

/* Logo Styling */
.logo {
  font-size: 40px;
  font-family: poppinsBold;
  color: #4b5966;
}

.logo span {
  color: var(--color);
}

.nav-smContent {
  display: none;
}

.nav-sm-input {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  width: 100%;
  padding: 8px 20px;
}
.category-btn-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 15px;
  border: none;
  color: white;
  font-family: poppinsSemibold;
  background-color: var(--color);
  border-radius: 4px;
  margin-top: 15px;
  div {
    font-size: 13px !important;
  }
}
.actionIcons {
}
.logOut-cont {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  border: 1px solid red;
  border-radius: 3px;
  width: 95%;
  padding: 10px 20px;
  text-decoration: none;
}
.nav-sm-subCategory {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out, padding 0.35s ease-in-out;
  padding: 0;
}

.nav-sm-subCategory.open {
  max-height: 500px; /* Adjust according to content height */
  padding: 10px 0;
  overflow: scroll;
  scrollbar-width: none;
}

.nav-sm-subCategory li {
  padding: 3px 20px;
  border: none !important;
}
@media screen and (max-width: 1167px) {
  .nav-sm {
    display: flex;
  }

  .logo {
    font-size: 26px;
  }

  .nav-smContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 468px) {
  .nav-sm-cont.open {
    width: 100%;
  }
}
