:root {
  --color: rgb(83 109 254);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.Deal-container {
  width: 100%;
  padding: 60px 60px 20px 60px;
  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    font-size: 25px;
    font-family: poppinsSemiBold;
    color: #787878;
    span {
      color: var(--color);
    }
  }
  .content {
    font-family: poppinsLight !important;
    font-size: 14px;
    text-transform: capitalize;
  }
  .timer {
    display: flex;
    gap: 10px;
    background-color: #f3f3f3;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: poppinsSemiBold !important;
    color: #787878;
    font-size: 14px;
  }
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Deal-itemBody {
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.banner-container {
  padding: 20px 40px;
  .banner {
    position: relative;
    background: rgb(227, 227, 227);
    width: 100%;
    border-radius: 40px;
    height: 350px;
    overflow: hidden;
  }
  .banner-blob-1 {
    background-color: var(--color);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.2;
    top: -60px;
    right: -60px;
  }
  .banner-blob-2 {
    background-color: tomato;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.2;
    bottom: -60px;
    left: -60px;
  }
  .banner-image {
    width: 50%;
    display: flex;

    img {
      width: 350px;
    }
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
  }
  .banner-text {
    width: 400px;
    .text-1 {
      font-size: 30px;
      text-align: end;
      font-family: poppinsSemiBold;
    }
  }
  .sales {
    font-size: 25px;
    color: var(--color);
    font-family: poppinsSemiBold;
    text-align: end;
    margin-top: 10px;
    span {
      font-family: poppinsRegular;
      color: #787878;
    }
  }
  button {
    margin-top: 10px;
    background-color: var(--color);
    color: white;
    font-family: poppinsRegular;
    border: none;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .category-container {
    padding: 40px;
    gap: 30px;
    overflow: scroll;
    scrollbar-width: none;
  }
  .Deal-itemBody {
    align-items: center;
    justify-content: center;
  }
  .container {
    margin: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .container-header {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .Deal-itemBody {
    padding: 50px 0 !important;
    align-items: center;
    justify-content: center;
  }
  .timer {
    margin-top: 15px !important;
  }
}
@media screen and (max-width: 530px) {
  .Deal-container {
    padding: 20px;
  }
  .Deal-itemBody {
    padding: 10px 0 !important;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .container-header {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .timer {
    margin-top: 15px !important;
  }
  .header {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 772px) {
  .sale {
    font-size: 20px !important;
  }
  .Button {
    font-size: 14px;
  }
  .container-header {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .banner-text-container {
    padding: 10px 0 !important;
  }
}
@media screen and (max-width: 930px) {
  .banner-container {
    .banner-blob-1 {
      width: 150px;
      height: 150px;
    }
    .banner-blob-2 {
      width: 150px;
      height: 150px;
    }
    .banner-image {
      img {
        width: 300px;
      }
    }

    .banner-text {
      width: 400px;
      .text-1 {
        font-size: 25px;
      }
    }
  }
}
@media screen and (max-width: 805px) {
  .banner-container {
    .banner-blob-1 {
      width: 150px;
      height: 150px;
    }
    .banner-blob-2 {
      width: 150px;
      height: 150px;
    }
    .banner-image {
      img {
        width: 250px;
      }
    }

    .banner-text {
      width: 400px;
      .text-1 {
        font-size: 23px;
      }
    }
    .sales {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 715px) {
  .banner-container {
    .banner-blob-1 {
      width: 150px;
      height: 150px;
    }
    .banner-blob-2 {
      width: 150px;
      height: 150px;
    }
    .banner-image {
      img {
        width: 220px;
      }
    }

    .banner-text {
      width: 400px;
      .text-1 {
        font-size: 20px;
      }
    }
    .sales {
      font-size: 18px;
    }
    button {
      padding: 5px 16px;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 650px) {
  .banner-container {
    .banner {
      height: 300px;
    }
    .banner-blob-1 {
      width: 150px;
      height: 150px;
    }
    .banner-blob-2 {
      width: 150px;
      height: 150px;
    }
    .banner-image {
      img {
        width: 180px;
      }
    }

    .banner-text {
      width: 400px;
      .text-1 {
        font-size: 18px;
      }
    }
    .sales {
      font-size: 15px;
    }
    button {
      padding: 5px 16px;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 583px) {
  .banner-container {
    .banner {
      height: 270px;
    }
    padding: 20px;
    .banner-blob-1 {
      width: 150px;
      height: 150px;
    }
    .banner-blob-2 {
      width: 150px;
      height: 150px;
    }
    .banner-image {
      img {
        width: 150px;
      }
    }

    .banner-text {
      width: 400px;
      .text-1 {
        font-size: 15px;
      }
    }
    .sales {
      font-size: 13px;
    }
    button {
      padding: 5px 16px;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 483px) {
  .banner-container {
    .banner {
      height: 250px;
      padding: 20px !important;
    }
    padding: 10px;
    .banner-blob-1 {
      width: 120px;
      height: 120px;
    }
    .banner-blob-2 {
      width: 120px;
      height: 120px;
    }
    .banner-image {
      img {
        width: 140px;
      }
    }

    .banner-text {
      width: 400px;
      .text-1 {
        font-size: 15px;
      }
    }
    .sales {
      font-size: 12px;
    }
    button {
      padding: 5px 16px;
      font-size: 12px;
    }
  }
}
