:root {
  --color: rgb(83 109 254);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.Success-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.success-text {
  color: #22aa48;
  font-family: poppinsBold;
  font-size: 30px;
  margin-top: 20px;
}
.success-text2 {
  color: rgba(0, 0, 0, 0.717);
  font-family: poppinsRegular;
  font-size: 16px;
  margin-top: 10px;
}
.success-content {
  color: rgba(0, 0, 0, 0.571);
  font-family: poppinsLight;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.success-home {
  padding: 10px 20px;
  background-color: var(--color);
  border-radius: 5px;
  color: white;
  font-family: poppinsRegular;
  border: none;
  margin-top: 20px;
  font-size: 13px;
}
