:root {
  --color: rgb(83 109 254);
  --colorLight: rgba(83, 109, 254, 0.381);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.order-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.order-header {
  font-size: 25px;
  font-family: poppinsSemiBold;
  text-transform: capitalize;
  color: #4b5966;
  span {
    color: var(--color);
  }
}
.order-content {
  font-family: poppinsLight;
  margin-top: 1px !important;
  font-size: 15px;
  color: #4b5966;
}
.order-container {
  padding: 30px;
}
.View {
  background-color: var(--color);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.order-type {
  font-family: poppinsSemiBold;
  font-size: 20px;
  color: #4b5966;
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .order-container {
    padding: 10px;
  }
}
