:root {
  --color: rgb(83 109 254);
  --colorLight: rgba(83, 109, 254, 0.381);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.order-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.order-header {
  font-size: 25px;
  font-family: poppinsSemiBold;
  text-transform: capitalize;
  color: #4b5966;
  span {
    color: var(--color);
  }
}
.order-content {
  font-family: poppinsLight;
  margin-top: 1px !important;
  font-size: 15px;
  color: #4b5966;
}
.order-container {
  padding: 30px;
  width: 100% !important;
}

.View {
  background-color: var(--color);
  border: none;
  padding: 7px 15px;
  color: white;
  border-radius: 5px;
  font-size: 13px !important;
}
.order-type {
  font-family: poppinsSemiBold;
  font-size: 20px;
  color: #4b5966;
  width: 100%;
}
.pending {
  background-color: rgba(255, 166, 0, 0.13);
  color: orange;
  width: 80px;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
}
.account-pg {
  display: flex;
  gap: 30px;
  width: 100% !important;
}
.success {
  background-color: rgba(0, 255, 47, 0.13);
  color: rgb(0, 122, 22);
  width: 80px;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .order-container {
    padding: 20px;
    width: 100% !important;
  }
  .cart-cont {
    margin: 0 !important;
    padding: 0 !important;
  }
  .order-type {
    margin: 0;
  }
}
@media screen and (max-width: 940px) {
  .account-pg {
    justify-content: center;
    gap: 0 !important;
  }
}
