:root {
  --color: rgb(83 109 254);
  --colorLight: rgba(83, 109, 254, 0.381);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.container {
  .Header-cont {
    .Header-head {
      color: #787878;
      font-size: 25px;
      font-family: poppinsSemiBold;
      margin-top: 50px;
      span {
        color: var(--color);
        text-transform: capitalize;
      }
    }
    .Header-content {
      font-family: poppinsLight;
      opacity: 0.8;
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}
.sliderProduct {
  width: 100%;
  overflow: hidden;
}
.information-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  [data-aos] {
    overflow: hidden; /* Prevent overflow during animation */
    width: 100%; /* Ensure elements stay within the container */
  }

  .information-center-items {
    border: 1px solid #f3f3f3;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  .information-Header {
    font-family: poppinsRegular;
    color: #787878;
    margin-top: 10px;
  }
  .information-content {
    font-family: poppinsLight;
    width: 150px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
}
.no-item {
  margin-top: 20px;
  font-family: poppinsRegular;
  color: #787878;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .information-center {
    flex-wrap: wrap;
  }
  .information-center-items {
    width: 100% !important;
  }
  .container {
    .Header-cont {
      .Header-head {
        font-size: 20px;
      }
    }
  }
}
