:root {
  --color: rgb(83 109 254);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.book-mark {
  color: var(--color);
}
.product-item {
  position: relative;
  width: 230px;
  height: 310px;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  text-align: start !important;
  transition: box-shadow 0.3s ease;
  .category {
    font-size: 13px;
    font-family: poppinsRegular;
    color: #787878;
    margin-top: 10px;
  }
  .name {
    font-family: poppinsRegular;
    margin-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
  }
  .old-Price {
    font-family: poppinsRegular;
    color: #787878;
    text-decoration: line-through;
  }
  .new-price {
    font-family: poppinsBold;
    color: #4b5966;
  }
  .type1 {
    position: absolute;
    top: 10px;
    background-color: tomato;
    border-radius: 7px;
    color: white;
    font-family: poppinsSemiBold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
    right: 0;
  }
  .type2 {
    position: absolute;
    top: 10px;
    background-color: #5caf90;
    text-transform: uppercase;
    border-radius: 7px;
    color: white;
    font-family: poppinsSemiBold;
    font-size: 12px;
    padding: 5px 20px;
    right: 0;
  }
}
.product-image {
  border-bottom: 1px solid #e4e3e3;
  padding: 10px 0;
  text-align: center;
  img {
    object-fit: cover;
    margin: auto;
    height: 140px;
    max-width: 100%;
    transition: 350ms;
  }
}
.product-item:hover img {
  transform: scale(1.2);
}

.product-info {
  padding: 10px;
}

.product-info h3 {
  font-size: 18px;
  margin: 5px 0;
}

.product-info p {
  font-size: 16px;
  color: #666;
}

.hover-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-item:hover .hover-buttons {
  opacity: 1;
}

.hover-buttons button {
  padding: 5px 10px 7px 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #e4e3e3;
  color: #fff;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.hover-buttons button img {
  transition: 350ms;
}

.hover-buttons button:hover img {
  transform: scale(0.9);
}
@media screen and (max-width: 768px) {
  .hover-buttons {
    opacity: 1;
  }
}
@media screen and (max-width: 530px) {
  .product-item {
    width: 200px !important;
  }
}

@media screen and (max-width: 442px) {
  .product-item {
    margin-top: 20px;
    width: 190px !important;
  }
}
@media screen and (max-width: 450px) {
  .product-item {
    margin-top: 20px;
    width: 180px !important;
  }
}
@media screen and (max-width: 432px) {
  .product-item {
    margin-top: 20px;
    width: 180px !important;
  }
}
@media screen and (max-width: 412px) {
  .product-item {
    margin-top: 20px;
    height: 340px;
    width: 170px !important;
  }
}
@media screen and (max-width: 390px) {
  .product-item {
    margin-top: 20px;
    width: 100% !important;
  }
}
@media screen and (max-width: 390px) {
  .product-item {
    margin-top: 20px;
    width: 165px !important;
  }
}

@media screen and (max-width: 380px) {
  .product-item {
    margin-top: 20px;
    width: 100% !important;
  }
}
