:root {
  --color: rgb(83 109 254);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.wishList {
  padding: 20px 100px;
}
.icon-shape {
  width: 30px;
  height: 30px;
}
small {
  color: var(--text);
  text-transform: capitalize;
  font-size: 12px !important;
  font-family: poppinsLight;
}
.text-inherit {
  color: #4b5966;
  font-family: poppinsRegular;
  text-decoration: none;
  font-size: 14px;
}
.align-middle {
  font-family: poppinsSemiBold;
  color: #4b5966 !important;
}
.btn-sm {
  background-color: var(--color);
  font-size: 13px;
}
.table-light {
  tr {
    th {
      color: #4b5966 !important;
      font-family: poppinsRegular;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 768px) {
  .wishList {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 638px) {
  .wishList {
    padding: 20px;
  }
}
@media screen and (max-width: 550px) {
  .wishList {
    padding: 20px;
  }
}
