:root {
  --color: rgb(83 109 254);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.cart-container {
  padding: 60px 70px;
}
.cart-summary {
  background-color: #f3f3f3;
  width: 100%;
  height: 500px;
  padding: 20px;
}
.cart-summary-header {
  color: var(--text);
  font-family: poppinsSemiBold;
  font-size: 18px;
}
