:root {
  --color: rgb(83 109 254);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.verified-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.verified-head {
  font-family: poppinsSemiBold;
  font-size: 30px;
  color: #787878;
}
.verified-content {
  font-family: poppinsLight;
  font-size: 13px;
  color: #393939;
  margin: 20px 0;
  width: 400px;
}
.verfied-img {
  img {
    width: 200px;
    margin-left: 20px;
  }
}
.loading-cont {
  display: flex;
  width: 100% !important;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: poppinsLight;
  font-size: 13px;
  color: #393939;
  margin: 20px 0;
  flex-direction: column;
  width: 300px;
}
.verified-login {
  padding: 10px 20px;
  background-color: var(--color);
  border-radius: 5px;
  color: white;
  width: 200px;
  font-family: poppinsRegular;
  border: none;
  font-size: 13px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.no-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.not-found-text {
  font-size: 90px;
  font-family: poppinsBold;
}
.cont-not-found {
  font-family: poppinsLight;
  font-size: 15px;
}
