:root {
  --color: rgb(83 109 254);
  --colorLight: rgba(83, 109, 254, 0.381);
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.SingleOrderPage {
  padding: 50px 70px;
}
.single-order-address {
  width: 100%;
  border: 1px solid #f3f3f3;
  padding: 20px;
  border-radius: 5px;
}
.single-order-address-item {
  margin-top: 20px;
  font-family: poppinsMedium;
  color: #4b5966;
  font-size: 13px;
  span {
    font-family: poppinsSemiBold;
    color: #4b5966;
  }
}
.single-order-details {
  border: 1px solid #f3f3f3;
  border-radius: 2px;
}
.single-order-head {
  border-bottom: 1px solid #f3f3f3;
  padding: 20px;
  font-size: 20px;
  font-family: poppinsSemiBold;
  color: #4b5966;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow-back {
  background-color: var(--color);
  padding: 5px;
  border-radius: 10px;
}
.Order-details-table {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .SingleOrderPage {
    padding: 20px;
  }
}
