:root {
  --color: rgb(83 109 254);
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+MX+Guides&display=swap");
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;
}
.loading {
  font-size: 2.5rem;
  font-weight: normal;
  color: white;
  font-family: "Lobster", sans-serif;
  font-style: normal;
  background-color: var(--color); /* Background for 'V' */
  border-radius: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  margin-left: 10px;
  animation: pulseBlink 1.5s infinite ease-in-out;
}
.loadingtext {
  color: black;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 10px;
  font-family: poppinsLight;
}
@keyframes pulseBlink {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
}
