:root {
  --text: rgb(75 89 102);
  --color2: rgb(83 109 254);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppinsExtraBold;
  src: url(../../assets/font/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: poppinsBlack;
  src: url(../../assets/font/Poppins-Black.ttf);
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin: auto;
  border-radius: 10px;
}
.carousel-cont {
  padding: 30px 70px;
}
.carouseltxt {
  font-family: poppinsRegular;
  background-color: tomato;
  padding: 1px 3px;
  color: white;
  font-size: 10px;
  width: 150px;
  text-align: center;
  border-radius: 3px;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.carousel-slide {
  width: 100%;
  position: relative;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  overflow: hidden;
  button {
    background-color: black !important;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: poppinsRegular;
    font-size: 13px;
    margin-top: 10px;
  }
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: 18/9;
  object-fit: contain;
}

.carousel-text {
  position: absolute;
  padding: 20px;
  left: 40px;
  top: 100px;
  border-radius: 10px;
}

.text-description {
  font-size: 15px !important;
  text-transform: capitalize;
  font-family: poppinsRegular;
  width: 600px;
  margin-top: 20px;
  color: var(--text) !important;
}
.text-title {
  width: 600px !important;
  text-align: start;
  text-transform: capitalize;
  font-family: poppinsBold;
}
@media screen and (max-width: 768px) {
  .carousel-cont {
    padding: 30px 10px;
  }
  .carousel {
    height: 400px; /* Increase height */
  }
  .carousel-slide {
    height: 400px !important;
  }
  .carousel-text {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 40px;
    border-radius: 10px;
  }
  .carousel-slide {
    height: 500px !important;
  }
  .carousel-slide img {
    width: 100%;
    height: 100%;
    aspect-ratio: 11/9;
    object-fit: contain;
  }
}
@media screen and (max-width: 560px) {
  .text-description {
    font-size: 15px !important ;
    width: 350px;
  }
  .text-title {
    font-size: 25px !important;
    width: 350px !important;
  }
  .carousel-text {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 40px;
    border-radius: 10px;
  }
  .carousel {
    height: 350px; /* Even larger height */
  }
  .carousel-slide {
    height: 350px !important;
  }
  .carousel-slide img {
    object-fit: cover;
  }
}
