:root {
  --color: rgb(83 109 254);
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.Nav-body {
  padding: 30px 40px;
  border-bottom: 1px solid #78787827;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #787878;
  font-family: poppinsBold;
  font-size: 35px;
}

.logoSecond {
  color: var(--color) !important;
}

.inputForm {
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  border: 1px solid #78787827;
  border-radius: 5px;
}

input {
  width: 100%;
  border: none;
  outline: none;
  font-family: poppinsRegular;
  font-size: 13px;
}
::placeholder {
  font-family: poppinsRegular;
  font-size: 14px;
}
.section-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-item {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.Name {
  font-family: poppinsSemiBold;
  font-size: 11px;
  color: #787878;
  letter-spacing: 1px;
}

.Section-name {
  font-family: poppinsSemiBold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #787878;
  margin-top: 2px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #78787827;
  border-radius: 5px;
  width: 140px;
  padding: 10px 20px 20px 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

ul {
  margin: 0;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
  list-style-type: none;
  font-family: poppinsRegular;
  position: relative;
  font-size: 13px;
  color: #787878;
  text-transform: capitalize;
  margin-top: 8px;
  transition: 250ms;
}
li .Link {
  text-decoration: none;
  color: #787878;
  transition: 250ms;
}

li:hover {
  color: var(--color);
}
li .Link:hover {
  color: var(--color) !important;
}
.nav-container {
  padding: 6px 70px;
  border-bottom: 1px solid #78787827;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Category-nav {
  position: relative;
}
.categories {
  position: absolute;
  top: 50px;
  right: -290px;
  background: white;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.categories.show {
  opacity: 1;
  z-index: 10000;
  visibility: visible;
  height: 320px;
  transform: translateY(0);
}

.category-item-container {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 10px;
  gap: 17px;
  transition: 250ms;
  border-radius: 5px;
}
.category-items {
  background-color: white;
  border-radius: 5px;
  color: #4b5966;
  font-family: poppinsSemibold;
  font-size: 13.5px;
  padding: 8px 20px;
  transition: 250ms;
  cursor: pointer;
}
.category-items:hover,
.category-items.active {
  background-color: var(--color);
  color: white;
}
.category-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 12px 15px;
  border: none;
  color: white;
  font-family: poppinsSemibold;
  background-color: var(--color);
  border-radius: 4px;
}
.subcategory-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.subcategoryItems {
  font-family: poppinsSemiBold;
  font-size: 14px;
  color: #4b5966;
  text-transform: capitalize;
  transition: 250ms;
  cursor: pointer;
}
.subcategoryItems:hover {
  color: var(--color);
}
header {
  font-family: poppinsSemiBold;
  color: var(--color);
  border-bottom: 1px solid #e4e4e4;
  padding: 5px;
}
.nav-links-container {
  ul {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    li {
      font-size: 15px;
      cursor: pointer;
    }
    .nav-link-item {
      color: #4b5966;
      text-decoration: none;
    }
  }
}
.dropdown2 {
  position: absolute;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #78787827;
  border-radius: 5px;
  width: 170px;
  padding: 10px 20px 20px 20px;
  z-index: 1000000 !important;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-content {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start;
  gap: 10px !important;
}
.dropdown2.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown-pages {
  position: absolute;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #78787827;
  border-radius: 5px;
  width: 170px;
  padding: 10px 20px 20px 20px;
  z-index: 1000000 !important;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-content-pages {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start;
  gap: 10px !important;
}
.dropdown-pages.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media screen and (max-width: 1066px) {
  .Nav-body {
    display: none !important;
  }
  .nav-container {
    display: none !important;
  }
}
