:root {
  --primary-color: rgb(83, 109, 254);
}
.backtoTop-container {
  position: fixed;
  z-index: 1000000;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--primary-color);
  img {
    width: 20px;
  }
}
